.about__wrapper {
  padding: 80px 215px 100px;  
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    padding: 80px 165px 100px;
    flex-direction: column-reverse;

    & img {
      width: 300px;
      align-self: center;
    }
  }

  @include media-mobile {
    padding: 40px 10px;
    flex-direction: column-reverse; 

    & img {
      padding-top: 42px;
      width: 260px;
      align-self: center;
    }
  }

  .about__content {
    width: 430px;
    padding: 14px 0;

    @include media-tablet {
      padding: 0 3px 80px;
    }

    @include media-mobile {
      width: 300px;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
    }

    .heading__title {  
      @include media-mobile {
        text-align: center;
        @include fonts ('Georgia', normal, 400, 25px, 130%);
      }
    }
    
    .about__subtitle {
      @include fonts ('Arial', normal, 400, 15px, 160%);
  
      padding-top: 25px;
  
      @include media-mobile {
        padding-top: 24px;
        text-align: justify;
      }
    }
  }
}
