.donation {
  background: $color-light-l;
}

.donation__wrapper {
  padding: 80px 183px 100px;  
  display: flex;
  align-items: center;
  gap: 30px;

  @include media-tablet {
    flex-direction: column-reverse;
  } 

  @include media-mobile {
    flex-direction: column-reverse;
    padding: 42px 10px;  
    & img.donation_dog {
      width: 260px;
    }
  }

  .donation__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-tablet {
      padding-bottom: 32px;
    }

    @include media-mobile {
      padding: 0 10px 12px;
      align-items: center;

      & h3 {
        text-align: center;
      }
    }

    .donation__subtitle {
      @include fonts ('Georgia', normal, 400, 15px, 110%);
  
      letter-spacing: 0.06em;
      color: $color-dark-l;
  
      @include media-mobile {
        @include fonts ('Georgia', normal, 400, 15px, 160%);
        letter-spacing: 0;
      }
    }

    .card {
      width: 350px;      
      padding: 10px 15px;
  
      background: $color-primary;
      border-radius: 9px;
      border: none;
  
      &:hover {
        background: $color-primary-light;
        @extend %transition;
      }
  
      a {
        display: flex;
        justify-content: space-between;

        .card__number {
          @include fonts ('Georgia', normal, 400, 20px, 115%);
      
          letter-spacing: 0.06em;
          color: $color-dark-l;
      
          @include media-mobile {
            @include fonts ('Georgia', normal, 400, 15px, 110%);
          }
        }
      }
  
      @include media-mobile {
        width: 281px;

        a {
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    .donation__info {
      @include fonts ('Arial', italic, 400, 12px, 18px);
  
      color: $color-dark-m;
  
      @include media-mobile {
        text-align: justify;
      }
    }
  }
}  









