.help__wrapper {
  padding: 80px 40px 100px; 

  @include media-tablet {
    padding: 80px 69px 100px;
  } 

  @include media-mobile {
    padding: 42px 15px;
  }

  .help__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0 87px;
    gap: 55px 119px;

    @include media-tablet {
      justify-content: space-between;
      padding: 0;
      gap: 55px 60px;
    }

    @include media-mobile {
      justify-content: space-between;
      padding: 0;
      gap: 30px 30px;
    }

    .help__item {
      height: 113px;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      @include media-tablet {
        width: 170px;
      }
  
      @include media-mobile {
        width: 130px;
        height: 87px;
      }

      .help__item_img {
        width: 60px;
        height: 60px;
    
        @include media-mobile {
          width: 50px;
          height: 50px;
        }
      }

      .help__item_title {
        @include fonts ('Georgia', normal, 400, 20px, 115%);
    
        letter-spacing: 0.06em;
        color: $color-dark-l;
    
        @include media-mobile {
          @include fonts ('Georgia', normal, 400, 15px, 110%);
        }
      }
    }
  }
}

