$color-main: rgb(214, 214, 214);
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-gradient: radial-gradient(at 0% 0%, #5B483A 20%, #211F20 80%);

$desctop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;
