.wrapper {
  max-width: $desctop-width;
  margin: 0 auto;
  overflow-x: hidden;

  @include media-tablet {
    max-width: $tablet-width;
  }  
  @include media-mobile {
    max-width: $mobile-width;
  }
}