.color-dark-3xl {
    color: $color-dark-3xl;
}

.color-dark-l {
    color: $color-dark-l;
}

.color-dark-s {
    color: $color-dark-s;
}

.color-light-xl {
    color: $color-light-xl;
}

.color-light-l {
    color: $color-light-l;
}

.color-light-s {
    color: $color-light-s;
}

.color-primary {
    color: $color-primary;
}