.header__menu {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;  
  z-index: 5;
  cursor: pointer;  

  & > *,
  &::before,
  &::after {
    animation-name: horizontal;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.8, .5, .2, 1.4);
    animation-fill-mode: forwards;
  }

  &::before {
    @extend %menu__bar;
    left: 0;
    top: 0;
  }

  &.is_activated::before {
    top: 10px;
    left: -30%;
  }

  &.color-dark-3xl::before {
    @extend %menu__bar_colorized;
    left: 0;
    top: 0;
  }

  &.color-dark-3xl.is_activated::before {
    top: 10px;
    left: -35%;
  }

  &::after {
    @extend %menu__bar;
    left: 0;
    top: 100%;
  }

  &.is_activated::after {
    top: 10px;
    left: 33%;
  }

  &.color-dark-3xl::after {
    @extend %menu__bar_colorized;
    left: 0;
    top: 100%;
  }

  &.is_activated.color-dark-3xl::after {
    top: 10px;
    left: 33%;
  }  

  @include media-mobile {
    display: block;

    &.is_activated {
      position: absolute;
      right: 20px;

      & > *,
      &::before,
      &::after {
        animation-name: vertical;
        animation-duration: .4s;
        animation-timing-function: cubic-bezier(.8, .5, .2, 1.4);
        animation-fill-mode: forwards;
      }
    }
  }  

  &.is_activated .menu__bar {
    top: 10px;
    left: 0;
  }  

  @keyframes vertical {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }

  @keyframes horizontal {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

%menu__bar {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: $color-primary;
  width: 100%;
  height: 2px;
}

%menu__bar_colorized {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: $color-dark-3xl;
  width: 100%;
  height: 2px;
}

.menu__bar {
  @extend %menu__bar;

  &.color-dark-3xl {
      @extend %menu__bar_colorized;
  }

  left: 0;
  top: 50%;
}